<h1>Listing test_machine_configs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Command line arguments</th>
      <th>Test run</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_machine_configs.each do |test_machine_config| %>
      <tr>
        <td><%= test_machine_config.name %></td>
        <td><%= test_machine_config.command_line_arguments %></td>
        <td><%= test_machine_config.test_run %></td>
        <td><%= link_to 'Show', test_machine_config %></td>
        <td><%= link_to 'Edit', edit_test_machine_config_path(test_machine_config) %></td>
        <td><%= link_to 'Destroy', test_machine_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test machine config', new_test_machine_config_path %>
