<h1>Analyze logs of test run <%= @test_run.id %></h1>

<%= link_to 'Build log analyzer', build_log_analyzer_path, class: 'btn btn-default' %><br/><br/>

<%= form_tag do %>

  <%= label_tag 'other[message_type]', 'Type of message' %>
  <%= text_field_tag 'other[message_type]', '', autocomplete: 'off', 'data-provide' => 'typeahead',
                     'data-source' => @types %>

  <%= label_tag 'window_size_minutes', 'Window Size' %>
  <% %i(minutes seconds milliseconds).each do |t| %>
    <div class="input-append">
      <%= text_field_tag "window_size_#{t}", (t==:minutes ? 2 : 0), placeholder: t, class: 'span1' %>
      <span class="add-on"><%= t %></span>
    </div>
  <% end %>

  <%= label_tag 'output_format', 'Output Format' %>
  <% %i(csv gnu-png gnu-eps).each do |t| %>
    <%= label_tag("output_format_#{t}", class: :radio) do %>
      <%= radio_button_tag(:output_format, t, t == 'gnu-eps'.to_sym) %> <%= t.to_s.humanize %>
    <% end %>
  <% end %>

  <%= label_tag 'other[diagram_type]', 'Diagram Type' %>
  <% %i(response_time throughput).each do |t| %>
    <%= label_tag("other[diagram_type]_#{t}", class: :radio) do %>
      <%= radio_button_tag('other[diagram_type]', t, t == 'response_time'.to_sym) %> <%= t.to_s.humanize %>
    <% end %>
  <% end %>

  <%= label_tag 'other[x_axis_label]', 'xAxis label' %>
  <%= text_field_tag 'other[x_axis_label]', 'Time bucket, xxx min buckets (use window size??)' %>

  <%= label_tag 'other[y_axis_label]', 'yAxis label' %>
  <%= text_field_tag 'other[y_axis_label]', 'Response time in ms' %>

  <%= label_tag 'other[diagram_title]', 'Title' %>
  <%= text_field_tag 'other[diagram_title]', 'Response Time' %>

  <% [:a, :b, :c, :e, :f, :g, :h, :i].each do |o| %>
    <%= label_tag "other[#{o}]", "Option -#{o}" %>
    <%= text_field_tag "other[#{o}]", '' %>
  <% end %>

  <div class="form-actions">
    <%= submit_tag 'Generate Plot', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', test_runs_path, class: 'btn btn-default' %>
