<%= form_tag do %>

  <%= label_tag 'type', 'Type of message' %>
  <%= text_field_tag 'type', '', autocomplete: 'off', 'data-provide' => 'typeahead',
                     'data-source' => @types %>

  <%= label_tag 'window_size_minutes', 'Window Size' %>
  <% %i(minutes seconds milliseconds).each do |t| %>
    <div class="input-append">
      <%= text_field_tag "window_size_#{t}", (t==:minutes ? 2 : 0), placeholder: t, class: 'span1' %>
      <span class="add-on"><%= t %></span>
    </div>
  <% end %>

  <%= label_tag 'output_format', 'Output Format' %>
  <% %i(csv gnu-png gnu-eps).each do |t| %>
    <%= label_tag("output_format_#{t}", class: :radio) do %>
      <%= radio_button_tag(:output_format, t, t == 'gnu-eps'.to_sym) %> <%= t.to_s.humanize %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= submit_tag :submit, class: 'btn btn-default' %>
  </div>
<% end %>

<%= link_to 'Build log analyzer', build_log_analyzer_path, class: 'btn btn-primary' %>
<%= link_to 'Back', test_runs_path, class: 'btn btn-default' %>
