<h1>Analyze logs of test run <%= @test_run.id %></h1>

<%= link_to 'Build log analyzer', build_log_analyzer_path, class: 'btn btn-default' %><br/><br/>

<%= form_tag do %>

  <%= label_tag 'other[message_type]', 'Type of message' %>
  <%# BTotReqResp %>
  <%= text_field_tag 'other[message_type]', 'CSndReq#OK,BTotReqResp,BDb', autocomplete: 'off', 'data-provide' => 'typeahead',
                     'data-source' => @types %>

  <%= label_tag 'window_size_minutes', 'Window Size' %>
  <% %i(minutes seconds milliseconds).each do |t| %>
    <div class="input-append">
      <%= text_field_tag "window_size_#{t}", (t==:minutes ? 1 : 0), placeholder: t, class: 'span1' %>
      <span class="add-on"><%= t %></span>
    </div>
  <% end %>

  <%= label_tag 'output_format', 'Output Format' %>
  <% %i(csv png.gnu eps.gnu png eps txt).each do |t| %>
    <%= label_tag("output_format_#{t}", class: :radio) do %>
      <%= radio_button_tag(:output_format, t, t == 'eps'.to_sym) %> <%= t.to_s.humanize %>
    <% end %>
  <% end %>

  <% k = :diagram_type %>
  <% default = :response_time %>
  <% values = %i(response_time throughput) %>
  <% title = 'Diagram Type' %>
  <%= label_tag "other[#{k}]", title %>
  <% values.each do |t| %>
    <%= label_tag("other[#{k}]_#{t}", class: :radio) do %>
      <%= radio_button_tag("other[#{k}]", t, t == default) %> <%= t.to_s.humanize %>
    <% end %>
  <% end %>

  <%= label_tag 'other[startup_cooldown_time][minutes]', 'Warmup / Cooldown Time' %>
  <% %i(minutes seconds milliseconds).each do |t| %>
    <div class="input-append">
      <%= text_field_tag "other[startup_cooldown_time][#{t}]", (t==:minutes ? 4 : 0), placeholder: t, class: 'span1' %>
      <span class="add-on"><%= t %></span>
    </div>
  <% end %>

  <%= label_tag 'other[x_axis_label]', 'xAxis label' %>
  <%= text_field_tag 'other[x_axis_label]', 'Time in minutes after test start' %>

  <%= label_tag 'other[y_axis_label]', 'yAxis label' %>
  <%= text_field_tag 'other[y_axis_label]', 'Response time in ms' %>

  <%= label_tag 'other[diagram_title]', 'Title' %>
  <%= text_field_tag 'other[diagram_title]', "Response Time for 2h Test (Client vs. Middleware vs. Database), with 4 minutes startup/cooldown time, ID: #{@test_run.id}" %>

  <%= label_tag 'other[line_label]', 'Line Label' %>
  <%= text_field_tag 'other[line_label]', "Client Response Time,Middleware Response Time,Database Response Time" %>

  <%= label_tag 'other[percentile]', 'Percentile Offset in %' %>
  <%= text_field_tag 'other[percentile]', '2.5' %>

  <% k = :percentile_or_stddev %>
  <% default = :percentile %>
  <% values = %i(percentile stddev) %>
  <% title = 'Percentile or Stddev' %>
  <%= label_tag "other[#{k}]", title %>
  <% values.each do |t| %>
    <%= label_tag("other[#{k}]_#{t}", class: :radio) do %>
      <%= radio_button_tag("other[#{k}]", t, t == default) %> <%= t.to_s.humanize %>
    <% end %>
  <% end %>

  <% k = :median_or_mean %>
  <% default = :median %>
  <% values = %i(median mean) %>
  <% title = 'Median or Mean' %>
  <%= label_tag "other[#{k}]", title %>
  <% values.each do |t| %>
    <%= label_tag("other[#{k}]_#{t}", class: :radio) do %>
      <%= radio_button_tag("other[#{k}]", t, t == default) %> <%= t.to_s.humanize %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= submit_tag 'Generate Plot', class: 'btn btn-primary' %>
  </div>
<% end %>

<p>
<h3>Generated Files</h3>
<ul>
  <% @generated_files.each do |f| %>
    <li><%= link_to f, generated_file_test_run_path(f: f) %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Back', test_runs_path, class: 'btn btn-default' %>
