<h1>Test Runs</h1>

<table class="table">
  <thead>
    <tr>
      <th>State</th>
      <th>Name</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Config</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_runs.each do |test_run| %>
      <tr>
        <td><%= test_run.state %></td>
        <td><%= test_run.name %></td>
        <td><%= test_run.started_at %></td>
        <td><%= test_run.ended_at %></td>
        <td><%= test_run.config %></td>
        <th>
          <%= link_to 'Start', [:start, test_run], class: 'btn btn-mini btn-success', data: {confirm: 'Are you sure?'} %>
          <%= link_to 'Stop', [:stop, test_run], class: 'btn btn-mini btn-warning', data: {confirm: 'Are you sure?'} %>
        </th>
        <td><%= link_to 'Show', test_run %></td>
        <td><%= link_to 'Edit', edit_test_run_path(test_run) %></td>
        <td><%= link_to 'Destroy', test_run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test run', new_test_run_path %>
