<h1>Test Runs</h1>

<p>Current date / time: <strong><%= l Time.now, format: :short %></strong></p>

<p>
  <%= link_to 'Unarchived', test_runs_path, class: 'btn btn-primary' %>
  <%= link_to 'Archived', test_runs_path(archived: true), class: 'btn' %>
  <%= link_to 'All', test_runs_path(all: true), class: 'btn' %>
</p>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>State</th>
    <th>Name</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th>Autostart</th>
  </tr>
  </thead>

  <tbody>
  <% @test_runs.each do |test_run| %>
    <tr class="<%= test_run_state_css_class(test_run) %>">
      <td rowspan="4"><%= test_run.id %></td>
      <td><%= test_run.state %></td>
      <td><%= test_run.name %></td>
      <td>
        <% if test_run.started_at %>
          <%= time_ago_in_words(test_run.started_at) %> ago, <%= l(test_run.started_at, format: :short) %>
        <% end %>
      </td>
      <td>
        <% if test_run.ended_at %>
          <%= time_ago_in_words(test_run.ended_at) %> ago, <%= l(test_run.ended_at, format: :short) %>
        <% end %>
      </td>
      <td><%= test_run.autostart %></td>
    </tr>
    <tr class="<%= test_run_state_css_class(test_run) %>">
      <td colspan="5">
        <%= test_run.scenarios.collect do |s|
          tot = s.execution_multiplicity * s.execution_multiplicity_per_machine
          "#{s.execution_multiplicity}×#{s.execution_multiplicity_per_machine} #{s.name.underscore.humanize.downcase.pluralize(tot)}"
        end.join(', ') + ' (machines × instances per machine)' %>
      </td>
    </tr>
    <tr class="<%= test_run_state_css_class(test_run) %>">
      <td colspan="5">
        <%= test_run.parse_additional_fields %>
      </td>
    </tr>
    <tr class="<%= test_run_state_css_class(test_run) %>">
      <td colspan="5">
        <%# = link_to 'Start', [:start, test_run], class: 'btn btn-mini btn-success', data: {confirm: 'Are you sure?'} unless test_run.started? %>
        <%# = link_to 'Stop', [:stop, test_run], class: 'btn btn-mini btn-warning', data: {confirm: 'Are you sure?'} unless test_run.ended? %>
        <%= link_to 'Download', [:download, test_run], class: 'btn btn-mini btn-default' %>
        <%= link_to 'Clone', [:clone, test_run], class: 'btn btn-mini btn-default' %>
        <%= link_to 'Show', test_run, class: 'btn btn-mini' %>
        <%= link_to 'Edit', edit_test_run_path(test_run), class: 'btn btn-mini' %>
        <%= link_to 'Archive', archive_test_run_path(test_run), class: 'btn btn-mini' %>
        <%= link_to 'Destroy', test_run, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-mini btn-danger' %></td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test run', new_test_run_path %>
