<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scenario.name %>
</p>

<p>
  <strong>Execution multiplicity:</strong>
  <%= @scenario.execution_multiplicity %>
</p>

<p>
  <strong>Config template:</strong><br/>
  <pre><%= @scenario.config_template %></pre>
</p>

<p>
  <strong>Test run:</strong>
  <%= link_to @scenario.test_run.try(:id), @scenario.test_run if @scenario.test_run %>
</p>

<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>
