<h1>Listing machines</h1>

<table class="table">
  <thead>
  <tr>
    <% Machine::AWS_FIELDS.each do |f| %>
      <th><%= f.to_s.humanize %></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @machines.each do |machine| %>
    <tr>
      <% Machine::AWS_FIELDS.each do |f| %>
        <td><%= machine.send(f) %></td>
      <% end %>
      <td><%= link_to 'Show', machine %></td>
      <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
      <td><%= link_to 'Destroy', machine, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
